.custom-button {
    width: 200px;
    height: 30px;
    color: brown;
    background-color: darkseagreen;
    border: 2px dashed red;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
