@{
    ViewBag.Title = "Home Page";
}
<br />

<div class="button-container">
    <button type="button" class="custom-button" onclick="LoadContent()">Load Content</button>
    <button type="button" class="custom-button" onclick="ClearContent()">Clear Content</button>
</div>

<div id="ContentID" class="jumbotron" style="margin-top:10px;">

</div>
